[submodule "packages/honker-rs"]
	path = packages/honker-rs
	url = git@github.com:russellromney/honker-rs.git
[submodule "packages/honker-go"]
	path = packages/honker-go
	url = git@github.com:russellromney/honker-go.git
