[submodule "packages/honker-rs"]
	path = packages/honker-rs
	url = git@github.com:russellromney/honker-rs.git
[submodule "packages/honker-go"]
	path = packages/honker-go
	url = git@github.com:russellromney/honker-go.git
[submodule "packages/honker-ruby"]
	path = packages/honker-ruby
	url = git@github.com:russellromney/honker-ruby.git
[submodule "packages/honker-bun"]
	path = packages/honker-bun
	url = git@github.com:russellromney/honker-bun.git
[submodule "packages/honker-ex"]
	path = packages/honker-ex
	url = git@github.com:russellromney/honker-ex.git
