[submodule "packages/honker-rs"]
	path = packages/honker-rs
	url = git@github.com:russellromney/honker-rs.git
[submodule "packages/honker-go"]
	path = packages/honker-go
	url = git@github.com:russellromney/honker-go.git
[submodule "packages/honker-ruby"]
	path = packages/honker-ruby
	url = git@github.com:russellromney/honker-ruby.git
[submodule "packages/honker-bun"]
	path = packages/honker-bun
	url = git@github.com:russellromney/honker-bun.git
[submodule "packages/honker-ex"]
	path = packages/honker-ex
	url = git@github.com:russellromney/honker-ex.git
[submodule "site"]
	path = site
	url = git@github.com:russellromney/honker-site.git
[submodule "packages/honker-node"]
	path = packages/honker-node
	url = git@github.com:russellromney/honker-node.git
[submodule "packages/honker"]
	path = packages/honker
	url = git@github.com:russellromney/honker-py.git
[submodule "packages/honker-cpp"]
	path = packages/honker-cpp
	url = git@github.com:russellromney/honker-cpp.git
